html .o_web_client > .o_action_manager {
    overflow: auto;
}

.shadow-1 {
    box-shadow: 0 0 10px 0 rgba(95, 95, 95, 0.1);
}

.border-1 {
    border-radius: 10px;
}

.products-container {
    tbody {
        tr td {
            vertical-align: middle;
        }
    }
}